body {
    background-image: url("../images/background.png");
}
#content {
    padding: 30px;
}
#footer {
    font-size: 0.75em;
    color: #aaa;
    text-align: center;
    margin: 5px;
}
#logo {
    vertical-align: sub;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../images/logo.png");
    background-size: cover;
    margin-right: 5px;
}


.navbar-nav {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.nav-item {
    margin-left: 15px;
    margin-right: 5px;
}

.card {
    border: none;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
}
.card {
    margin-bottom: 30px;
}
.center-card {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 500px;
}
.center-card button {
    cursor: pointer;
}
.navbar {
    background-color: white;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #f3f3f3;
}
.navbar a {
    color: #333;
}
.navbar a:hover {
    color: #666;
}
