body {
    background-image: url("../images/background.png");
}
.navbar-nav {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}
