body {
    background-image: url("../images/background.png");
}

.navbar-nav {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.card {
    border: none;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
}
.center-card {
    margin: 30px auto;
    max-width: 500px;
}
.center-card button {
    cursor: pointer;
}
.navbar {
    background-color: white;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #f3f3f3;
}
.navbar a {
    color: #333;
}
