pre {
    white-space: pre-wrap;
    margin-bottom: 0;
}
button[type=submit] {
    width: 150px;
}
.comment {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
}
.comment:last-child {
    margin-bottom: 0;
}
#comments {
    background-color: #eee;
    padding: 5px;
}
.center-card {
    max-width: 760px;
    margin-top: 0;
}
.section {
    color: #aaa;
}
