{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Overview</h4>
                <p>Hello, <b>{{ request.user.username|title }}</b>!</p>
                <p style="margin-bottom:0.5rem"><b>{{ reviewed }}</b> out of <b>{{ total }}</b> ({% widthratio reviewed total 100|floatformat %}%) classes have been reviewed completely.</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:{% widthratio reviewed total 100 %}%"></div>
                </div>
                <p style="margin-top:0.5rem">You have reviewed <b>{{ user_reviewed }}</b> class{{ user_reviewed|pluralize:"es" }} so far.</p>
                {% if reviewed < total %}
                <a href="{% url "review" %}" class="btn btn-success"><i class="fa fa-play"></i> Continue Reviewing</a>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">History</h4>
                <p>You can see the most recent classes you have reviewed below.</p>
                <div style="overflow-x:auto">
                    <table class="table">
                        <thead>
                            <tr><th>Section</th><th>Term</th><th>Instructor</th></tr>
                        </thead>
                        <tbody>
                            {% for review in reviews %}
                            <tr><td>{{ review.section.name }}</td><td>{{ review.section.term }}</td><td>{{ review.section.instructor.name|title }}</td></tr>
                            {% empty %}
                            <tr><td colspan="3">You have not reviewed any classes yet.</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Reviewer Guidelines</h4>
                <hr />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta rhoncus nibh varius convallis. Praesent laoreet, magna in pretium fringilla, lacus nunc fringilla sapien, eget rutrum dolor mauris vitae nibh. Aliquam aliquet vitae nisi id ornare. Aliquam ut dui et purus pellentesque cursus. Etiam condimentum nibh a neque tincidunt consequat. Proin tempor id nibh ut finibus. Ut vitae lectus orci. Mauris in velit nec nisl varius luctus pulvinar non ligula. Proin rutrum tincidunt condimentum. Integer ornare, erat fermentum vestibulum bibendum, nisl ligula auctor purus, vel rutrum magna magna non lectus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta rhoncus nibh varius convallis. Praesent laoreet, magna in pretium fringilla, lacus nunc fringilla sapien, eget rutrum dolor mauris vitae nibh. Aliquam aliquet vitae nisi id ornare. Aliquam ut dui et purus pellentesque cursus. Etiam condimentum nibh a neque tincidunt consequat. Proin tempor id nibh ut finibus. Ut vitae lectus orci. Mauris in velit nec nisl varius luctus pulvinar non ligula. Proin rutrum tincidunt condimentum. Integer ornare, erat fermentum vestibulum bibendum, nisl ligula auctor purus, vel rutrum magna magna non lectus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta rhoncus nibh varius convallis. Praesent laoreet, magna in pretium fringilla, lacus nunc fringilla sapien, eget rutrum dolor mauris vitae nibh. Aliquam aliquet vitae nisi id ornare. Aliquam ut dui et purus pellentesque cursus. Etiam condimentum nibh a neque tincidunt consequat. Proin tempor id nibh ut finibus. Ut vitae lectus orci. Mauris in velit nec nisl varius luctus pulvinar non ligula. Proin rutrum tincidunt condimentum. Integer ornare, erat fermentum vestibulum bibendum, nisl ligula auctor purus, vel rutrum magna magna non lectus.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
