{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.min.css" integrity="sha256-4BosA+P6Qycvyi2wsMf6zbq9Em7BJqMXk/SpXbQVJJY=" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static "css/review.css" %}" />
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js" integrity="sha256-HyBiZFJAMvxOhZoWOc5LWIWaN1gcFi8LjS75BZF4afg=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static "js/review.js" %}"></script>
<script>
var TAG_ENDPOINT = "{% url "tags" %}";
</script>
{% endblock %}

{% block content %}
<div class="card center-card">
    <div class="card-body">
        <div class="clearfix">
            <h4 class="card-title float-left">Review</h4>
            <small class="section float-right">{{ section }}</small>
        </div>
        <form action="{% url "review" %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="section" value="{{ section.id }}" />
            <div class="form-group">
                <p>Drag and drop to order the following comments from most constructive to least constructive.</p>
                <div id="comments">
                    {% for comment in comments %}
                    <div class="comment clearfix" data-id="{{ comment.id }}">
                        <pre>{{ comment.text }}</pre>
                        <input type="hidden" name="flags_{{ comment.id }}" value="" />
                        <div class="pull-right mt-1">
                            <a href="#" class="inappropriate btn btn-sm btn-danger">Flag as Inappropriate</a>
                            <a href="#" class="mark btn btn-sm btn-warning">Mark as Not Useful</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <small style="color:#aaa" class="float-right">Showing <b>{{ comments|length }}</b> out of <b>{{ total_comments }}</b> comments for this class.</small>
            </div>
            <input type="hidden" id="order" name="order" />
            <div class="form-group">
                <p>(Optional) Add tags that are relevant to this class.</p>
                <input id="tags" name="tags" value="{{ tags }}" />
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
