{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.min.css" integrity="sha256-4BosA+P6Qycvyi2wsMf6zbq9Em7BJqMXk/SpXbQVJJY=" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static "css/review.css" %}" />
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js" integrity="sha256-HyBiZFJAMvxOhZoWOc5LWIWaN1gcFi8LjS75BZF4afg=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static "js/review.js" %}"></script>
<script>
var TAG_ENDPOINT = "{% url "tags" %}";
</script>
{% endblock %}

{% block content %}
<div class="card center-card">
    <div class="card-body">
        <div class="clearfix">
            <h4 class="card-title float-left">Review</h4>
        </div>
        <form id="review" action="{% url "review" %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="section" value="{{ section.id }}" />
            <div class="form-group">
                <p>Review the following comment:</p>
                <div id="comment" class="comment clearfix">
                    <pre>{{ comment.text }}</pre>
                    <input type="hidden" name="comment" value="{{ comment.id }}" />
                </div>
                <small style="color:#aaa" class="float-right">There are <b>{{ total_comments }}</b> comments for this class.</small>
            </div>
            <div class="form-group">
                <p>(Optional) Add tags that are relevant to this class.</p>
                <input id="tags" name="tags" value="{{ tags }}" />
            </div>
            <div class="pull-right mt-1">
                <button name="flag" class="approve btn btn-sm btn-success" type="submit" value="A">Approve Comment</a>
                <button name="flag" class="inappropriate btn btn-sm btn-danger" type="submit" value="I">Flag as Inappropriate</a>
                <button name="flag" class="mark btn btn-sm btn-warning" type="submit" value="M">Mark as Not Useful</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
